--
-- PostgreSQL database dump
--

\restrict ML5Kh2PIDPxUSYJaaTBNgAV9YQdP6ooMTqh1utTb0FTVaDRhAxHC4ksnt6gcdq7

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fn_chauffeur_vehicule_max2_actifs(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_chauffeur_vehicule_max2_actifs() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    nb_actifs INTEGER;

BEGIN

    IF NEW.date_fin IS NOT NULL THEN

        RETURN NEW;

    END IF;



    SELECT COUNT(*)

    INTO nb_actifs

    FROM chauffeur_vehicule

    WHERE vehicule_id = NEW.vehicule_id

      AND date_fin IS NULL

      AND NOT (chauffeur_id = NEW.chauffeur_id AND date_debut = NEW.date_debut);



    IF nb_actifs >= 2 THEN

        RAISE EXCEPTION 'Un vehicule ne peut pas avoir plus de 2 chauffeurs actifs (vehicule_id=%)', NEW.vehicule_id;

    END IF;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_chauffeur_vehicule_max2_actifs() OWNER TO postgres;

--
-- Name: fn_chauffeur_vehicule_principal_unique(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_chauffeur_vehicule_principal_unique() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    role_principal_id BIGINT;

    nb_principaux INTEGER;

BEGIN

    IF NEW.date_fin IS NOT NULL THEN

        RETURN NEW;

    END IF;



    SELECT id INTO role_principal_id

    FROM ref_chauffeur_vehicule_role

    WHERE code = 'PRINCIPAL';



    IF NEW.ref_chauffeur_vehicule_role_id != role_principal_id THEN

        RETURN NEW;

    END IF;



    SELECT COUNT(*)

    INTO nb_principaux

    FROM chauffeur_vehicule

    WHERE vehicule_id = NEW.vehicule_id

      AND date_fin IS NULL

      AND ref_chauffeur_vehicule_role_id = role_principal_id

      AND NOT (chauffeur_id = NEW.chauffeur_id AND date_debut = NEW.date_debut);



    IF nb_principaux >= 1 THEN

        RAISE EXCEPTION 'Un vehicule ne peut avoir qu''un seul chauffeur PRINCIPAL actif (vehicule_id=%)', NEW.vehicule_id;

    END IF;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.fn_chauffeur_vehicule_principal_unique() OWNER TO postgres;

--
-- Name: get_tarif_publicite_actuel(date); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_tarif_publicite_actuel(p_date date DEFAULT CURRENT_DATE) RETURNS TABLE(id bigint, montant numeric, devise_code character varying)
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN QUERY

    SELECT 

        tp.id,

        tp.montant,

        rd.code

    FROM tarif_publicite tp

    JOIN ref_devise rd ON tp.ref_devise_id = rd.id

    WHERE tp.actif = TRUE

      AND tp.date_debut <= p_date

      AND (tp.date_fin IS NULL OR tp.date_fin >= p_date)

    ORDER BY tp.date_debut DESC

    LIMIT 1;

END;

$$;


ALTER FUNCTION public.get_tarif_publicite_actuel(p_date date) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: billet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.billet (
    id bigint NOT NULL,
    reservation_id bigint NOT NULL,
    ref_billet_statut_id bigint NOT NULL,
    numero character varying(120) NOT NULL,
    date_emission timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    contenu_qr text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    code character varying(120),
    passager_nom character varying(120),
    passager_prenom character varying(120),
    numero_siege integer
);


ALTER TABLE public.billet OWNER TO postgres;

--
-- Name: billet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.billet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.billet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chauffeur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chauffeur (
    id bigint NOT NULL,
    nom character varying(100) NOT NULL,
    prenom character varying(100),
    telephone character varying(30),
    numero_permis character varying(60) NOT NULL,
    date_naissance date,
    date_embauche date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chauffeur OWNER TO postgres;

--
-- Name: chauffeur_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.chauffeur ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chauffeur_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chauffeur_vehicule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chauffeur_vehicule (
    chauffeur_id bigint NOT NULL,
    vehicule_id bigint NOT NULL,
    ref_chauffeur_vehicule_role_id bigint NOT NULL,
    date_debut timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    date_fin timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_chauffeur_vehicule_dates CHECK (((date_fin IS NULL) OR (date_fin >= date_debut)))
);


ALTER TABLE public.chauffeur_vehicule OWNER TO postgres;

--
-- Name: client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client (
    id bigint NOT NULL,
    nom character varying(120) NOT NULL,
    prenom character varying(120),
    telephone character varying(30),
    email character varying(120),
    numero_cin character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.client OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cooperative; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cooperative (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    nom character varying(150) NOT NULL,
    telephone character varying(30),
    email character varying(120),
    adresse text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cooperative OWNER TO postgres;

--
-- Name: cooperative_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cooperative ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cooperative_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cooperative_trajet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cooperative_trajet (
    cooperative_id bigint NOT NULL,
    trajet_id bigint NOT NULL,
    actif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cooperative_trajet OWNER TO postgres;

--
-- Name: cooperative_vehicule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cooperative_vehicule (
    cooperative_id bigint NOT NULL,
    vehicule_id bigint NOT NULL,
    date_debut date DEFAULT CURRENT_DATE NOT NULL,
    date_fin date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_coop_vehicule_dates CHECK (((date_fin IS NULL) OR (date_fin >= date_debut)))
);


ALTER TABLE public.cooperative_vehicule OWNER TO postgres;

--
-- Name: depart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depart (
    id bigint NOT NULL,
    code character varying(80) NOT NULL,
    cooperative_id bigint NOT NULL,
    trajet_id bigint NOT NULL,
    vehicule_id bigint NOT NULL,
    lieu_depart_id bigint,
    lieu_arrivee_id bigint,
    ref_depart_statut_id bigint NOT NULL,
    date_heure_depart timestamp without time zone NOT NULL,
    date_heure_arrivee_estimee timestamp without time zone,
    capacite_override integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT depart_capacite_override_check CHECK (((capacite_override IS NULL) OR (capacite_override > 0)))
);


ALTER TABLE public.depart OWNER TO postgres;

--
-- Name: depart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.depart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.depart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: depart_publicite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depart_publicite (
    id bigint NOT NULL,
    depart_id bigint NOT NULL,
    publicite_id bigint NOT NULL,
    tarif_publicite_id bigint NOT NULL,
    date_diffusion timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    montant_facture numeric(15,2) NOT NULL,
    ref_devise_id bigint NOT NULL,
    statut_diffusion character varying(50) DEFAULT 'PLANIFIE'::character varying NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    nombre_repetitions integer DEFAULT 1 NOT NULL,
    CONSTRAINT ck_statut_diffusion CHECK (((statut_diffusion)::text = ANY (ARRAY[('PLANIFIE'::character varying)::text, ('DIFFUSE'::character varying)::text, ('ANNULE'::character varying)::text]))),
    CONSTRAINT depart_publicite_montant_facture_check CHECK ((montant_facture >= (0)::numeric))
);


ALTER TABLE public.depart_publicite OWNER TO postgres;

--
-- Name: TABLE depart_publicite; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.depart_publicite IS 'Chaque ligne repr├â┬®sente UNE DIFFUSION d''une publicit├â┬® sur un d├â┬®part';


--
-- Name: COLUMN depart_publicite.date_diffusion; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.depart_publicite.date_diffusion IS 'Date et heure de la diffusion';


--
-- Name: COLUMN depart_publicite.montant_facture; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.depart_publicite.montant_facture IS 'Montant factur├â┬® pour cette diffusion (copie du tarif au moment de la diffusion)';


--
-- Name: COLUMN depart_publicite.statut_diffusion; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.depart_publicite.statut_diffusion IS 'PLANIFIE=pr├â┬®vu, DIFFUSE=effectu├â┬®, ANNULE=annul├â┬®';


--
-- Name: COLUMN depart_publicite.nombre_repetitions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.depart_publicite.nombre_repetitions IS 'Nombre de fois que la publicit├® sera diffus├®e durant le voyage';


--
-- Name: depart_publicite_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.depart_publicite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.depart_publicite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: depart_tarif_remise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depart_tarif_remise (
    id bigint NOT NULL,
    depart_id bigint NOT NULL,
    ref_siege_categorie_id bigint NOT NULL,
    ref_passager_categorie_id bigint NOT NULL,
    type_remise character varying(20) NOT NULL,
    montant numeric(12,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT depart_tarif_remise_montant_check CHECK ((montant >= (0)::numeric))
);


ALTER TABLE public.depart_tarif_remise OWNER TO postgres;

--
-- Name: depart_tarif_remise_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.depart_tarif_remise ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.depart_tarif_remise_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: depart_tarif_siege; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depart_tarif_siege (
    id bigint NOT NULL,
    depart_id bigint NOT NULL,
    ref_siege_categorie_id bigint NOT NULL,
    ref_devise_id bigint NOT NULL,
    montant numeric(12,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT depart_tarif_siege_montant_check CHECK ((montant > (0)::numeric))
);


ALTER TABLE public.depart_tarif_siege OWNER TO postgres;

--
-- Name: depart_tarif_siege_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.depart_tarif_siege ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.depart_tarif_siege_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: depense_vehicule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depense_vehicule (
    id bigint NOT NULL,
    vehicule_id bigint NOT NULL,
    cooperative_id bigint NOT NULL,
    ref_type_depense_id bigint NOT NULL,
    ref_devise_id bigint NOT NULL,
    montant numeric(12,2) NOT NULL,
    date_depense date DEFAULT CURRENT_DATE NOT NULL,
    description text,
    numero_piece character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT depense_vehicule_montant_check CHECK ((montant > (0)::numeric))
);


ALTER TABLE public.depense_vehicule OWNER TO postgres;

--
-- Name: depense_vehicule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.depense_vehicule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.depense_vehicule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lieu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lieu (
    id bigint NOT NULL,
    nom character varying(150) NOT NULL,
    description text,
    latitude numeric(9,6),
    longitude numeric(9,6),
    ref_lieu_type_id bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.lieu OWNER TO postgres;

--
-- Name: lieu_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lieu ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lieu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paiement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paiement (
    id bigint NOT NULL,
    montant numeric(12,2) NOT NULL,
    ref_devise_id bigint NOT NULL,
    ref_paiement_methode_id bigint NOT NULL,
    ref_paiement_statut_id bigint NOT NULL,
    reference_externe character varying(120),
    date_paiement timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reservation_id bigint,
    notes text,
    CONSTRAINT paiement_montant_check CHECK ((montant > (0)::numeric))
);


ALTER TABLE public.paiement OWNER TO postgres;

--
-- Name: paiement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.paiement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.paiement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paiement_publicite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paiement_publicite (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    date_paiement timestamp(6) without time zone NOT NULL,
    montant numeric(15,2) NOT NULL,
    note text,
    ref_devise_id bigint NOT NULL,
    societe_publicitaire_id bigint NOT NULL,
    facture_annee integer,
    facture_mois integer
);


ALTER TABLE public.paiement_publicite OWNER TO postgres;

--
-- Name: paiement_publicite_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.paiement_publicite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.paiement_publicite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paiement_reservation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paiement_reservation (
    paiement_id bigint NOT NULL,
    reservation_id bigint NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.paiement_reservation OWNER TO postgres;

--
-- Name: publicite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.publicite (
    id bigint NOT NULL,
    code character varying(80) NOT NULL,
    societe_publicitaire_id bigint NOT NULL,
    titre character varying(200) NOT NULL,
    description text,
    url_video character varying(500),
    duree_secondes integer,
    date_debut_validite date NOT NULL,
    date_fin_validite date NOT NULL,
    actif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_publicite_dates CHECK ((date_fin_validite >= date_debut_validite)),
    CONSTRAINT publicite_duree_secondes_check CHECK (((duree_secondes IS NULL) OR (duree_secondes > 0)))
);


ALTER TABLE public.publicite OWNER TO postgres;

--
-- Name: TABLE publicite; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.publicite IS 'Vid├â┬®os publicitaires cr├â┬®├â┬®es par les soci├â┬®t├â┬®s';


--
-- Name: COLUMN publicite.url_video; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.publicite.url_video IS 'URL de stockage de la vid├â┬®o publicitaire';


--
-- Name: COLUMN publicite.duree_secondes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.publicite.duree_secondes IS 'Dur├â┬®e de la vid├â┬®o en secondes';


--
-- Name: COLUMN publicite.date_debut_validite; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.publicite.date_debut_validite IS 'Date ├â┬á partir de laquelle la pub peut ├â┬¬tre diffus├â┬®e';


--
-- Name: COLUMN publicite.date_fin_validite; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.publicite.date_fin_validite IS 'Date jusqu''├â┬á laquelle la pub peut ├â┬¬tre diffus├â┬®e';


--
-- Name: publicite_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.publicite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.publicite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_billet_statut; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_billet_statut (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_billet_statut OWNER TO postgres;

--
-- Name: ref_billet_statut_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_billet_statut ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_billet_statut_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_chauffeur_vehicule_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_chauffeur_vehicule_role (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_chauffeur_vehicule_role OWNER TO postgres;

--
-- Name: ref_chauffeur_vehicule_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_chauffeur_vehicule_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_chauffeur_vehicule_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_depart_statut; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_depart_statut (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_depart_statut OWNER TO postgres;

--
-- Name: ref_depart_statut_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_depart_statut ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_depart_statut_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_devise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_devise (
    id bigint NOT NULL,
    code character varying(10) NOT NULL,
    libelle character varying(50) NOT NULL,
    actif boolean DEFAULT true NOT NULL,
    symbole character varying(10)
);


ALTER TABLE public.ref_devise OWNER TO postgres;

--
-- Name: ref_devise_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_devise ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_devise_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_lieu_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_lieu_type (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_lieu_type OWNER TO postgres;

--
-- Name: ref_lieu_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_lieu_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_lieu_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_paiement_methode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_paiement_methode (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_paiement_methode OWNER TO postgres;

--
-- Name: ref_paiement_methode_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_paiement_methode ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_paiement_methode_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_paiement_statut; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_paiement_statut (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_paiement_statut OWNER TO postgres;

--
-- Name: ref_paiement_statut_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_paiement_statut ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_paiement_statut_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_passager_categorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_passager_categorie (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    ordre integer DEFAULT 1 NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_passager_categorie OWNER TO postgres;

--
-- Name: ref_passager_categorie_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_passager_categorie ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_passager_categorie_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_reservation_statut; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_reservation_statut (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_reservation_statut OWNER TO postgres;

--
-- Name: ref_reservation_statut_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_reservation_statut ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_reservation_statut_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_siege_categorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_siege_categorie (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    ordre integer DEFAULT 1 NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_siege_categorie OWNER TO postgres;

--
-- Name: ref_siege_categorie_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_siege_categorie ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_siege_categorie_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_type_depense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_type_depense (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_type_depense OWNER TO postgres;

--
-- Name: ref_type_depense_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_type_depense ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_type_depense_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_vehicule_etat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_vehicule_etat (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_vehicule_etat OWNER TO postgres;

--
-- Name: ref_vehicule_etat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_vehicule_etat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_vehicule_etat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ref_vehicule_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_vehicule_type (
    id bigint NOT NULL,
    code character varying(30) NOT NULL,
    libelle character varying(80) NOT NULL,
    description text,
    actif boolean DEFAULT true NOT NULL
);


ALTER TABLE public.ref_vehicule_type OWNER TO postgres;

--
-- Name: ref_vehicule_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ref_vehicule_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ref_vehicule_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservation (
    id bigint NOT NULL,
    code character varying(80) NOT NULL,
    client_id bigint NOT NULL,
    depart_id bigint NOT NULL,
    ref_reservation_statut_id bigint NOT NULL,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    montant_total numeric(12,2),
    montant_paye numeric(12,2) DEFAULT 0,
    reste_a_payer numeric(12,2)
);


ALTER TABLE public.reservation OWNER TO postgres;

--
-- Name: reservation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reservation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservation_passager; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservation_passager (
    id bigint NOT NULL,
    reservation_id bigint NOT NULL,
    depart_id bigint NOT NULL,
    nom character varying(120) NOT NULL,
    prenom character varying(120),
    numero_siege integer NOT NULL,
    ref_siege_categorie_id bigint,
    ref_passager_categorie_id bigint,
    ref_devise_id bigint,
    montant_tarif numeric(12,2),
    montant_remise numeric(12,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT reservation_passager_numero_siege_check CHECK ((numero_siege > 0))
);


ALTER TABLE public.reservation_passager OWNER TO postgres;

--
-- Name: reservation_passager_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reservation_passager ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservation_passager_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: societe_publicitaire; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.societe_publicitaire (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    nom character varying(200) NOT NULL,
    telephone character varying(30),
    email character varying(120),
    adresse text,
    contact_nom character varying(150),
    contact_telephone character varying(30),
    actif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.societe_publicitaire OWNER TO postgres;

--
-- Name: TABLE societe_publicitaire; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.societe_publicitaire IS 'Soci├â┬®t├â┬®s qui diffusent des vid├â┬®os publicitaires';


--
-- Name: COLUMN societe_publicitaire.actif; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.societe_publicitaire.actif IS 'Indique si la soci├â┬®t├â┬® est active';


--
-- Name: societe_publicitaire_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.societe_publicitaire ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.societe_publicitaire_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tarif; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tarif (
    id bigint NOT NULL,
    cooperative_id bigint NOT NULL,
    trajet_id bigint NOT NULL,
    ref_vehicule_type_id bigint NOT NULL,
    ref_devise_id bigint NOT NULL,
    montant numeric(12,2) NOT NULL,
    date_debut date DEFAULT CURRENT_DATE NOT NULL,
    date_fin date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_tarif_dates CHECK (((date_fin IS NULL) OR (date_fin >= date_debut))),
    CONSTRAINT tarif_montant_check CHECK ((montant > (0)::numeric))
);


ALTER TABLE public.tarif OWNER TO postgres;

--
-- Name: tarif_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tarif ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tarif_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tarif_publicite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tarif_publicite (
    id bigint NOT NULL,
    ref_devise_id bigint NOT NULL,
    montant numeric(12,2) NOT NULL,
    date_debut date DEFAULT CURRENT_DATE NOT NULL,
    date_fin date,
    description text,
    actif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT ck_tarif_pub_dates CHECK (((date_fin IS NULL) OR (date_fin >= date_debut))),
    CONSTRAINT tarif_publicite_montant_check CHECK ((montant > (0)::numeric))
);


ALTER TABLE public.tarif_publicite OWNER TO postgres;

--
-- Name: TABLE tarif_publicite; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.tarif_publicite IS 'Tarifs de diffusion des publicit├â┬®s (historique des prix)';


--
-- Name: COLUMN tarif_publicite.montant; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tarif_publicite.montant IS 'Prix par diffusion';


--
-- Name: COLUMN tarif_publicite.date_debut; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tarif_publicite.date_debut IS 'Date de d├â┬®but d''application du tarif';


--
-- Name: COLUMN tarif_publicite.date_fin; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tarif_publicite.date_fin IS 'Date de fin d''application du tarif (NULL = tarif actuel)';


--
-- Name: tarif_publicite_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tarif_publicite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tarif_publicite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trajet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trajet (
    id bigint NOT NULL,
    code character varying(80) NOT NULL,
    libelle character varying(200) NOT NULL,
    lieu_depart_id bigint,
    lieu_arrivee_id bigint,
    distance_km numeric(10,2),
    duree_estimee_min integer,
    actif boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT trajet_distance_km_check CHECK (((distance_km IS NULL) OR (distance_km >= (0)::numeric))),
    CONSTRAINT trajet_duree_estimee_min_check CHECK (((duree_estimee_min IS NULL) OR (duree_estimee_min >= 0)))
);


ALTER TABLE public.trajet OWNER TO postgres;

--
-- Name: trajet_escale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trajet_escale (
    trajet_id bigint NOT NULL,
    lieu_id bigint NOT NULL,
    ordre integer NOT NULL,
    duree_arret_min integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT trajet_escale_duree_arret_min_check CHECK (((duree_arret_min IS NULL) OR (duree_arret_min >= 0))),
    CONSTRAINT trajet_escale_ordre_check CHECK ((ordre > 0))
);


ALTER TABLE public.trajet_escale OWNER TO postgres;

--
-- Name: trajet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.trajet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trajet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vehicule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicule (
    id bigint NOT NULL,
    immatriculation character varying(30) NOT NULL,
    marque character varying(80),
    modele character varying(80),
    annee integer,
    nombre_places integer NOT NULL,
    ref_vehicule_type_id bigint,
    ref_vehicule_etat_id bigint,
    date_mise_en_service date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT vehicule_annee_check CHECK (((annee IS NULL) OR (annee >= 1950))),
    CONSTRAINT vehicule_nombre_places_check CHECK ((nombre_places > 0))
);


ALTER TABLE public.vehicule OWNER TO postgres;

--
-- Name: vehicule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.vehicule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vehicule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vehicule_siege_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicule_siege_config (
    id bigint NOT NULL,
    vehicule_id bigint NOT NULL,
    ref_siege_categorie_id bigint NOT NULL,
    nb_places integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT vehicule_siege_config_nb_places_check CHECK ((nb_places >= 0))
);


ALTER TABLE public.vehicule_siege_config OWNER TO postgres;

--
-- Name: vehicule_siege_config_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.vehicule_siege_config ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vehicule_siege_config_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: billet; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.billet (id, reservation_id, ref_billet_statut_id, numero, date_emission, contenu_qr, created_at, code, passager_nom, passager_prenom, numero_siege) FROM stdin;
\.


--
-- Data for Name: chauffeur; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: chauffeur_vehicule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chauffeur_vehicule (chauffeur_id, vehicule_id, ref_chauffeur_vehicule_role_id, date_debut, date_fin, created_at) FROM stdin;
2	3	1	2026-01-23 08:28:35.471134	\N	2026-01-23 08:28:35.471134
3	4	1	2026-01-23 08:50:25.193136	\N	2026-01-23 08:50:25.194667
5	5	1	2026-01-23 08:50:47.775031	\N	2026-01-23 08:50:47.775031
\.


--
-- Data for Name: client; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cooperative; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cooperative_trajet; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cooperative_trajet (cooperative_id, trajet_id, actif, created_at) FROM stdin;
1	1	t	2026-01-23 08:24:38.090846
1	2	t	2026-01-23 08:24:38.090846
2	3	t	2026-01-23 08:24:38.090846
2	4	t	2026-01-23 08:24:38.090846
3	1	t	2026-01-23 08:24:38.090846
3	5	t	2026-01-23 08:24:38.090846
4	3	t	2026-01-23 08:24:38.090846
5	4	t	2026-01-23 08:24:38.090846
\.


--
-- Data for Name: cooperative_vehicule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cooperative_vehicule (cooperative_id, vehicule_id, date_debut, date_fin, created_at) FROM stdin;
1	3	2026-01-23	\N	2026-01-23 08:28:35.471134
1	4	2026-01-23	\N	2026-01-23 08:50:25.19115
1	5	2026-01-23	\N	2026-01-23 08:50:47.774003
\.


--
-- Data for Name: depart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.depart (id, code, cooperative_id, trajet_id, vehicule_id, lieu_depart_id, lieu_arrivee_id, ref_depart_statut_id, date_heure_depart, date_heure_arrivee_estimee, capacite_override, created_at) FROM stdin;
10	DEP-COO-ANT-202601241000	1	4	5	16	7	1	2026-01-24 10:00:00	2026-01-25 11:24:00	\N	2026-01-23 11:25:46.216178
12	DEP-COO-ANT-202601251500	1	4	3	16	7	1	2026-01-25 15:00:00	2026-01-26 11:27:00	\N	2026-01-23 11:27:15.786349
13	DEP-COO-ANT-202601251000	1	4	4	16	7	1	2026-01-25 10:00:00	2026-01-26 11:28:00	\N	2026-01-23 11:28:08.80847
\.


--
-- Data for Name: depart_publicite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.depart_publicite (id, depart_id, publicite_id, tarif_publicite_id, date_diffusion, montant_facture, ref_devise_id, statut_diffusion, notes, created_at, nombre_repetitions) FROM stdin;
9	10	1	1	2026-01-24 11:28:00	100000.00	1	PLANIFIE	\N	2026-01-23 11:28:39.063725	1
10	10	2	1	2026-01-24 11:28:00	100000.00	1	PLANIFIE	\N	2026-01-23 11:28:46.713394	1
11	13	3	1	2026-01-25 11:28:00	200000.00	1	PLANIFIE	\N	2026-01-23 11:29:01.029883	2
12	13	4	1	2026-01-25 11:29:00	100000.00	1	PLANIFIE	\N	2026-01-23 11:29:09.673562	1
\.


--
-- Data for Name: depart_tarif_remise; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.depart_tarif_remise (id, depart_id, ref_siege_categorie_id, ref_passager_categorie_id, type_remise, montant, created_at) FROM stdin;
\.


--
-- Data for Name: depart_tarif_siege; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.depart_tarif_siege (id, depart_id, ref_siege_categorie_id, ref_devise_id, montant, created_at) FROM stdin;
10	10	1	1	50000.00	2026-01-23 11:25:46.280242
12	12	1	1	50000.00	2026-01-23 11:27:15.804997
13	13	1	1	50000.00	2026-01-23 11:28:08.83531
\.


--
-- Data for Name: depense_vehicule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.depense_vehicule (id, vehicule_id, cooperative_id, ref_type_depense_id, ref_devise_id, montant, date_depense, description, numero_piece, created_at) FROM stdin;
\.


--
-- Data for Name: lieu; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: paiement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiement (id, montant, ref_devise_id, ref_paiement_methode_id, ref_paiement_statut_id, reference_externe, date_paiement, created_at, reservation_id, notes) FROM stdin;
\.


--
-- Data for Name: paiement_publicite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiement_publicite (id, created_at, date_paiement, montant, note, ref_devise_id, societe_publicitaire_id, facture_annee, facture_mois) FROM stdin;
\.


--
-- Data for Name: paiement_reservation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiement_reservation (paiement_id, reservation_id, created_at) FROM stdin;
\.


--
-- Data for Name: publicite; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ref_billet_statut; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_billet_statut (id, code, libelle, actif) FROM stdin;
1	EMIS	Emis	t
2	UTILISE	Utilise	t
3	ANNULE	Annule	t
4	EXPIRE	Expire	t
\.


--
-- Data for Name: ref_chauffeur_vehicule_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_chauffeur_vehicule_role (id, code, libelle, actif) FROM stdin;
1	PRINCIPAL	Chauffeur principal	t
2	SECONDAIRE	Chauffeur secondaire	t
\.


--
-- Data for Name: ref_depart_statut; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_depart_statut (id, code, libelle, actif) FROM stdin;
1	PROGRAMME	Programme	t
2	EN_COURS	En cours	t
3	TERMINE	Termine	t
4	ANNULE	Annule	t
5	RETARDE	Retarde	t
\.


--
-- Data for Name: ref_devise; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_devise (id, code, libelle, actif, symbole) FROM stdin;
1	MGA	Ariary	t	Ar
2	EUR	Euro	t	├óÔÇÜ┬¼
3	USD	Dollar US	t	$
\.


--
-- Data for Name: ref_lieu_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_lieu_type (id, code, libelle, actif) FROM stdin;
1	GARE_ROUTIERE	Gare routiere	t
2	VILLE	Ville	t
3	VILLAGE	Village	t
4	POINT_ARRET	Point d'arret	t
\.


--
-- Data for Name: ref_paiement_methode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_paiement_methode (id, code, libelle, actif) FROM stdin;
1	ESPECES	Especes	t
2	MVOLA	MVola	t
3	ORANGE_MONEY	Orange Money	t
4	AIRTEL_MONEY	Airtel Money	t
5	CARTE	Carte bancaire	t
6	VIREMENT	Virement bancaire	t
\.


--
-- Data for Name: ref_paiement_statut; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_paiement_statut (id, code, libelle, actif) FROM stdin;
1	EN_ATTENTE	En attente	t
2	VALIDE	Valide	t
3	ECHOUE	Echoue	t
4	REMBOURSE	Rembourse	t
5	PARTIEL	Partiel	t
\.


--
-- Data for Name: ref_passager_categorie; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_passager_categorie (id, code, libelle, ordre, actif) FROM stdin;
1	ADULTE	Adulte	1	t
2	ENFANT	Enfant	2	t
3	SENIOR	Senior	3	t
\.


--
-- Data for Name: ref_reservation_statut; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_reservation_statut (id, code, libelle, actif) FROM stdin;
1	BROUILLON	Brouillon	t
2	CONFIRMEE	Confirmee	t
3	ANNULEE	Annulee	t
4	EXPIREE	Expiree	t
5	EN_ATTENTE	En attente de paiement	t
\.


--
-- Data for Name: ref_siege_categorie; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_siege_categorie (id, code, libelle, ordre, actif) FROM stdin;
1	STANDARD	Standard	1	t
2	VIP	VIP	2	t
3	PREMIUM	Premium	3	t
\.


--
-- Data for Name: ref_type_depense; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_type_depense (id, code, libelle, actif) FROM stdin;
1	CARBURANT	Carburant	t
2	REPARATION_MOTEUR	Reparation moteur	t
3	REPARATION_CARROSSERIE	Reparation carrosserie	t
4	PNEUS	Pneus	t
5	VIDANGE	Vidange	t
6	REVISION	Revision	t
7	ASSURANCE	Assurance	t
8	TAXE	Taxe et impots	t
9	PEAGE	Peage	t
10	LAVAGE	Lavage	t
11	PIECES_DETACHEES	Pieces detachees	t
12	ENTRETIEN	Entretien general	t
13	FRAIS_DIVERS	Frais divers	t
\.


--
-- Data for Name: ref_vehicule_etat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_vehicule_etat (id, code, libelle, actif) FROM stdin;
1	ACTIF	En service	t
2	EN_PANNE	En panne	t
3	MAINTENANCE	En maintenance	t
4	HORS_SERVICE	Hors service	t
\.


--
-- Data for Name: ref_vehicule_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_vehicule_type (id, code, libelle, description, actif) FROM stdin;
1	MINIBUS	Minibus	Vehicule 12-20 places	t
2	TAXI_BROUSSE	Taxi-brousse classique	Vehicule 8-12 places	t
3	BUS	Bus	Vehicule 20+ places	t
4	4X4	4x4	Vehicule tout-terrain	t
\.


--
-- Data for Name: reservation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservation (id, code, client_id, depart_id, ref_reservation_statut_id, date_creation, notes, montant_total, montant_paye, reste_a_payer) FROM stdin;
\.


--
-- Data for Name: reservation_passager; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservation_passager (id, reservation_id, depart_id, nom, prenom, numero_siege, ref_siege_categorie_id, ref_passager_categorie_id, ref_devise_id, montant_tarif, montant_remise, created_at) FROM stdin;
\.


--
-- Data for Name: societe_publicitaire; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.societe_publicitaire (id, code, nom, telephone, email, adresse, contact_nom, contact_telephone, actif, created_at) FROM stdin;
1	SOC-PUB-001	Vaniala	+261 20 22 123 45	contact@vaniala.mg	Antananarivo, Madagascar	\N	\N	t	2026-01-23 08:24:49.441347
2	SOC-PUB-002	Lewis	+261 20 22 678 90	marketing@lewis.mg	Antananarivo, Madagascar	\N	\N	t	2026-01-23 08:24:49.441347
3	SOC-PUB-003	Socobis	034 12 345 67	contact@vaniala.mg	aiza ary oh	socobis	socobis	t	2026-01-23 08:32:22.718757
4	SOC-PUB-004	JeJoo	033 98 765 43	info@lewis.mg	aty oh	jejoo	jejoo	t	2026-01-23 08:33:16.027862
\.


--
-- Data for Name: tarif; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tarif (id, cooperative_id, trajet_id, ref_vehicule_type_id, ref_devise_id, montant, date_debut, date_fin, created_at) FROM stdin;
\.


--
-- Data for Name: tarif_publicite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tarif_publicite (id, ref_devise_id, montant, date_debut, date_fin, description, actif, created_at) FROM stdin;
1	1	100000.00	2025-01-01	\N	Tarif standard de diffusion publicitaire	t	2026-01-23 08:24:49.441347
\.


--
-- Data for Name: trajet; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trajet (id, code, libelle, lieu_depart_id, lieu_arrivee_id, distance_km, duree_estimee_min, actif, created_at) FROM stdin;
1	TJ-TANA-ANTSIRABE	Antananarivo - Antsirabe	1	3	169.00	240	t	2026-01-23 08:24:38.090846
2	TJ-TANA-FIANAR	Antananarivo - Fianarantsoa	1	5	408.00	540	t	2026-01-23 08:24:38.090846
3	TJ-TANA-TOAMASINA	Antananarivo - Toamasina	2	6	369.00	480	t	2026-01-23 08:24:38.090846
4	TJ-TANA-MAHAJANGA	Antananarivo - Mahajanga	1	7	575.00	660	t	2026-01-23 08:24:38.090846
5	TJ-ANTSIRABE-FIANAR	Antsirabe - Fianarantsoa	3	5	239.00	300	t	2026-01-23 08:24:38.090846
\.


--
-- Data for Name: trajet_escale; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trajet_escale (trajet_id, lieu_id, ordre, duree_arret_min, created_at) FROM stdin;
1	10	1	15	2026-01-23 08:24:38.090846
2	10	1	15	2026-01-23 08:24:38.090846
2	3	2	30	2026-01-23 08:24:38.090846
2	4	3	20	2026-01-23 08:24:38.090846
3	12	1	20	2026-01-23 08:24:38.090846
3	13	2	15	2026-01-23 08:24:38.090846
4	15	1	30	2026-01-23 08:24:38.090846
4	14	2	25	2026-01-23 08:24:38.090846
5	4	1	20	2026-01-23 08:24:38.090846
\.


--
-- Data for Name: vehicule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vehicule (id, immatriculation, marque, modele, annee, nombre_places, ref_vehicule_type_id, ref_vehicule_etat_id, date_mise_en_service, created_at) FROM stdin;
3	1244 TBK	Toyota	Hiace	2023	50	2	1	\N	2026-01-23 08:28:35.454188
4	1244 TBK(30)	Toyota	Hiace	2023	30	2	1	\N	2026-01-23 08:50:25.178701
5	1244 TBK(40)	Toyota	Hiace	2023	40	2	1	\N	2026-01-23 08:50:47.758964
\.


--
-- Data for Name: vehicule_siege_config; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vehicule_siege_config (id, vehicule_id, ref_siege_categorie_id, nb_places, created_at) FROM stdin;
4	3	1	50	2026-01-23 08:28:35.487278
5	3	2	0	2026-01-23 08:28:35.503059
6	3	3	0	2026-01-23 08:28:35.503989
7	4	1	30	2026-01-23 08:50:25.239781
8	4	2	0	2026-01-23 08:50:25.240856
9	4	3	0	2026-01-23 08:50:25.241947
10	5	1	40	2026-01-23 08:50:47.792091
11	5	2	0	2026-01-23 08:50:47.792091
12	5	3	0	2026-01-23 08:50:47.792091
\.


--
-- Name: billet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.billet_id_seq', 1, false);


--
-- Name: chauffeur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chauffeur_id_seq', 12, true);


--
-- Name: client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.client_id_seq', 10, true);


--
-- Name: cooperative_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cooperative_id_seq', 5, true);


--
-- Name: depart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.depart_id_seq', 13, true);


--
-- Name: depart_publicite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.depart_publicite_id_seq', 12, true);


--
-- Name: depart_tarif_remise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.depart_tarif_remise_id_seq', 1, false);


--
-- Name: depart_tarif_siege_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.depart_tarif_siege_id_seq', 13, true);


--
-- Name: depense_vehicule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.depense_vehicule_id_seq', 1, false);


--
-- Name: lieu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lieu_id_seq', 17, true);


--
-- Name: paiement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.paiement_id_seq', 1, false);


--
-- Name: paiement_publicite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.paiement_publicite_id_seq', 1, true);


--
-- Name: publicite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.publicite_id_seq', 4, true);


--
-- Name: ref_billet_statut_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_billet_statut_id_seq', 4, true);


--
-- Name: ref_chauffeur_vehicule_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_chauffeur_vehicule_role_id_seq', 2, true);


--
-- Name: ref_depart_statut_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_depart_statut_id_seq', 5, true);


--
-- Name: ref_devise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_devise_id_seq', 3, true);


--
-- Name: ref_lieu_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_lieu_type_id_seq', 4, true);


--
-- Name: ref_paiement_methode_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_paiement_methode_id_seq', 6, true);


--
-- Name: ref_paiement_statut_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_paiement_statut_id_seq', 5, true);


--
-- Name: ref_passager_categorie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_passager_categorie_id_seq', 3, true);


--
-- Name: ref_reservation_statut_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_reservation_statut_id_seq', 5, true);


--
-- Name: ref_siege_categorie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_siege_categorie_id_seq', 3, true);


--
-- Name: ref_type_depense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_type_depense_id_seq', 13, true);


--
-- Name: ref_vehicule_etat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_vehicule_etat_id_seq', 4, true);


--
-- Name: ref_vehicule_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ref_vehicule_type_id_seq', 4, true);


--
-- Name: reservation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservation_id_seq', 1, false);


--
-- Name: reservation_passager_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservation_passager_id_seq', 1, false);


--
-- Name: societe_publicitaire_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.societe_publicitaire_id_seq', 4, true);


--
-- Name: tarif_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tarif_id_seq', 1, false);


--
-- Name: tarif_publicite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tarif_publicite_id_seq', 1, true);


--
-- Name: trajet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.trajet_id_seq', 5, true);


--
-- Name: vehicule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicule_id_seq', 5, true);


--
-- Name: vehicule_siege_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicule_siege_config_id_seq', 12, true);


--
-- Name: billet billet_numero_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billet
    ADD CONSTRAINT billet_numero_key UNIQUE (numero);


--
-- Name: billet billet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billet
    ADD CONSTRAINT billet_pkey PRIMARY KEY (id);


--
-- Name: chauffeur chauffeur_numero_permis_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chauffeur
    ADD CONSTRAINT chauffeur_numero_permis_key UNIQUE (numero_permis);


--
-- Name: chauffeur chauffeur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chauffeur
    ADD CONSTRAINT chauffeur_pkey PRIMARY KEY (id);


--
-- Name: chauffeur_vehicule chauffeur_vehicule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chauffeur_vehicule
    ADD CONSTRAINT chauffeur_vehicule_pkey PRIMARY KEY (chauffeur_id, vehicule_id, date_debut);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: cooperative cooperative_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative
    ADD CONSTRAINT cooperative_code_key UNIQUE (code);


--
-- Name: cooperative cooperative_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative
    ADD CONSTRAINT cooperative_pkey PRIMARY KEY (id);


--
-- Name: cooperative_trajet cooperative_trajet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative_trajet
    ADD CONSTRAINT cooperative_trajet_pkey PRIMARY KEY (cooperative_id, trajet_id);


--
-- Name: cooperative_vehicule cooperative_vehicule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative_vehicule
    ADD CONSTRAINT cooperative_vehicule_pkey PRIMARY KEY (cooperative_id, vehicule_id, date_debut);


--
-- Name: depart depart_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT depart_code_key UNIQUE (code);


--
-- Name: depart depart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT depart_pkey PRIMARY KEY (id);


--
-- Name: depart_publicite depart_publicite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_publicite
    ADD CONSTRAINT depart_publicite_pkey PRIMARY KEY (id);


--
-- Name: depart_tarif_remise depart_tarif_remise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_remise
    ADD CONSTRAINT depart_tarif_remise_pkey PRIMARY KEY (id);


--
-- Name: depart_tarif_siege depart_tarif_siege_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_siege
    ADD CONSTRAINT depart_tarif_siege_pkey PRIMARY KEY (id);


--
-- Name: depense_vehicule depense_vehicule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depense_vehicule
    ADD CONSTRAINT depense_vehicule_pkey PRIMARY KEY (id);


--
-- Name: lieu lieu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieu
    ADD CONSTRAINT lieu_pkey PRIMARY KEY (id);


--
-- Name: paiement paiement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT paiement_pkey PRIMARY KEY (id);


--
-- Name: paiement_publicite paiement_publicite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement_publicite
    ADD CONSTRAINT paiement_publicite_pkey PRIMARY KEY (id);


--
-- Name: paiement_reservation paiement_reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement_reservation
    ADD CONSTRAINT paiement_reservation_pkey PRIMARY KEY (paiement_id, reservation_id);


--
-- Name: publicite publicite_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publicite
    ADD CONSTRAINT publicite_code_key UNIQUE (code);


--
-- Name: publicite publicite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publicite
    ADD CONSTRAINT publicite_pkey PRIMARY KEY (id);


--
-- Name: ref_billet_statut ref_billet_statut_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_billet_statut
    ADD CONSTRAINT ref_billet_statut_code_key UNIQUE (code);


--
-- Name: ref_billet_statut ref_billet_statut_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_billet_statut
    ADD CONSTRAINT ref_billet_statut_pkey PRIMARY KEY (id);


--
-- Name: ref_chauffeur_vehicule_role ref_chauffeur_vehicule_role_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_chauffeur_vehicule_role
    ADD CONSTRAINT ref_chauffeur_vehicule_role_code_key UNIQUE (code);


--
-- Name: ref_chauffeur_vehicule_role ref_chauffeur_vehicule_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_chauffeur_vehicule_role
    ADD CONSTRAINT ref_chauffeur_vehicule_role_pkey PRIMARY KEY (id);


--
-- Name: ref_depart_statut ref_depart_statut_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_depart_statut
    ADD CONSTRAINT ref_depart_statut_code_key UNIQUE (code);


--
-- Name: ref_depart_statut ref_depart_statut_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_depart_statut
    ADD CONSTRAINT ref_depart_statut_pkey PRIMARY KEY (id);


--
-- Name: ref_devise ref_devise_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_devise
    ADD CONSTRAINT ref_devise_code_key UNIQUE (code);


--
-- Name: ref_devise ref_devise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_devise
    ADD CONSTRAINT ref_devise_pkey PRIMARY KEY (id);


--
-- Name: ref_lieu_type ref_lieu_type_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_lieu_type
    ADD CONSTRAINT ref_lieu_type_code_key UNIQUE (code);


--
-- Name: ref_lieu_type ref_lieu_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_lieu_type
    ADD CONSTRAINT ref_lieu_type_pkey PRIMARY KEY (id);


--
-- Name: ref_paiement_methode ref_paiement_methode_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_paiement_methode
    ADD CONSTRAINT ref_paiement_methode_code_key UNIQUE (code);


--
-- Name: ref_paiement_methode ref_paiement_methode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_paiement_methode
    ADD CONSTRAINT ref_paiement_methode_pkey PRIMARY KEY (id);


--
-- Name: ref_paiement_statut ref_paiement_statut_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_paiement_statut
    ADD CONSTRAINT ref_paiement_statut_code_key UNIQUE (code);


--
-- Name: ref_paiement_statut ref_paiement_statut_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_paiement_statut
    ADD CONSTRAINT ref_paiement_statut_pkey PRIMARY KEY (id);


--
-- Name: ref_passager_categorie ref_passager_categorie_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_passager_categorie
    ADD CONSTRAINT ref_passager_categorie_code_key UNIQUE (code);


--
-- Name: ref_passager_categorie ref_passager_categorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_passager_categorie
    ADD CONSTRAINT ref_passager_categorie_pkey PRIMARY KEY (id);


--
-- Name: ref_reservation_statut ref_reservation_statut_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_reservation_statut
    ADD CONSTRAINT ref_reservation_statut_code_key UNIQUE (code);


--
-- Name: ref_reservation_statut ref_reservation_statut_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_reservation_statut
    ADD CONSTRAINT ref_reservation_statut_pkey PRIMARY KEY (id);


--
-- Name: ref_siege_categorie ref_siege_categorie_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_siege_categorie
    ADD CONSTRAINT ref_siege_categorie_code_key UNIQUE (code);


--
-- Name: ref_siege_categorie ref_siege_categorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_siege_categorie
    ADD CONSTRAINT ref_siege_categorie_pkey PRIMARY KEY (id);


--
-- Name: ref_type_depense ref_type_depense_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_type_depense
    ADD CONSTRAINT ref_type_depense_code_key UNIQUE (code);


--
-- Name: ref_type_depense ref_type_depense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_type_depense
    ADD CONSTRAINT ref_type_depense_pkey PRIMARY KEY (id);


--
-- Name: ref_vehicule_etat ref_vehicule_etat_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_vehicule_etat
    ADD CONSTRAINT ref_vehicule_etat_code_key UNIQUE (code);


--
-- Name: ref_vehicule_etat ref_vehicule_etat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_vehicule_etat
    ADD CONSTRAINT ref_vehicule_etat_pkey PRIMARY KEY (id);


--
-- Name: ref_vehicule_type ref_vehicule_type_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_vehicule_type
    ADD CONSTRAINT ref_vehicule_type_code_key UNIQUE (code);


--
-- Name: ref_vehicule_type ref_vehicule_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_vehicule_type
    ADD CONSTRAINT ref_vehicule_type_pkey PRIMARY KEY (id);


--
-- Name: reservation reservation_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_code_key UNIQUE (code);


--
-- Name: reservation_passager reservation_passager_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT reservation_passager_pkey PRIMARY KEY (id);


--
-- Name: reservation reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_pkey PRIMARY KEY (id);


--
-- Name: societe_publicitaire societe_publicitaire_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.societe_publicitaire
    ADD CONSTRAINT societe_publicitaire_code_key UNIQUE (code);


--
-- Name: societe_publicitaire societe_publicitaire_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.societe_publicitaire
    ADD CONSTRAINT societe_publicitaire_pkey PRIMARY KEY (id);


--
-- Name: tarif tarif_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif
    ADD CONSTRAINT tarif_pkey PRIMARY KEY (id);


--
-- Name: tarif_publicite tarif_publicite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif_publicite
    ADD CONSTRAINT tarif_publicite_pkey PRIMARY KEY (id);


--
-- Name: trajet trajet_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet
    ADD CONSTRAINT trajet_code_key UNIQUE (code);


--
-- Name: trajet_escale trajet_escale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet_escale
    ADD CONSTRAINT trajet_escale_pkey PRIMARY KEY (trajet_id, ordre);


--
-- Name: trajet trajet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet
    ADD CONSTRAINT trajet_pkey PRIMARY KEY (id);


--
-- Name: reservation_passager uk2bjlrjs5197vfoknqls6p8cu3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT uk2bjlrjs5197vfoknqls6p8cu3 UNIQUE (depart_id, numero_siege);


--
-- Name: depart_tarif_siege uk74j7v9jvue8npn27oqc4hs6x3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_siege
    ADD CONSTRAINT uk74j7v9jvue8npn27oqc4hs6x3 UNIQUE (depart_id, ref_siege_categorie_id);


--
-- Name: vehicule_siege_config uki3o785jr4fl7cej2d0m9iqfye; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule_siege_config
    ADD CONSTRAINT uki3o785jr4fl7cej2d0m9iqfye UNIQUE (vehicule_id, ref_siege_categorie_id);


--
-- Name: depart_tarif_remise ukprxtd13vywpn6ch4yduqbb10q; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_remise
    ADD CONSTRAINT ukprxtd13vywpn6ch4yduqbb10q UNIQUE (depart_id, ref_siege_categorie_id, ref_passager_categorie_id);


--
-- Name: tarif ukt1vll1pa7jlhuvmovr82mob2e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif
    ADD CONSTRAINT ukt1vll1pa7jlhuvmovr82mob2e UNIQUE (cooperative_id, trajet_id, ref_vehicule_type_id, ref_devise_id, date_debut);


--
-- Name: depart_tarif_remise uq_depart_remise; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_remise
    ADD CONSTRAINT uq_depart_remise UNIQUE (depart_id, ref_siege_categorie_id, ref_passager_categorie_id);


--
-- Name: depart_tarif_siege uq_depart_tarif; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_siege
    ADD CONSTRAINT uq_depart_tarif UNIQUE (depart_id, ref_siege_categorie_id);


--
-- Name: reservation_passager uq_res_pass_siege; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT uq_res_pass_siege UNIQUE (depart_id, numero_siege);


--
-- Name: tarif uq_tarif; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif
    ADD CONSTRAINT uq_tarif UNIQUE (cooperative_id, trajet_id, ref_vehicule_type_id, ref_devise_id, date_debut);


--
-- Name: trajet_escale uq_trajet_escale_lieu; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet_escale
    ADD CONSTRAINT uq_trajet_escale_lieu UNIQUE (trajet_id, lieu_id);


--
-- Name: vehicule_siege_config uq_vsc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule_siege_config
    ADD CONSTRAINT uq_vsc UNIQUE (vehicule_id, ref_siege_categorie_id);


--
-- Name: vehicule vehicule_immatriculation_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule
    ADD CONSTRAINT vehicule_immatriculation_key UNIQUE (immatriculation);


--
-- Name: vehicule vehicule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule
    ADD CONSTRAINT vehicule_pkey PRIMARY KEY (id);


--
-- Name: vehicule_siege_config vehicule_siege_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule_siege_config
    ADD CONSTRAINT vehicule_siege_config_pkey PRIMARY KEY (id);


--
-- Name: idx_chauffeur_vehicule_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chauffeur_vehicule_active ON public.chauffeur_vehicule USING btree (vehicule_id) WHERE (date_fin IS NULL);


--
-- Name: idx_coop_vehicule_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_coop_vehicule_active ON public.cooperative_vehicule USING btree (cooperative_id, vehicule_id) WHERE (date_fin IS NULL);


--
-- Name: idx_depart_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_depart_date ON public.depart USING btree (date_heure_depart);


--
-- Name: idx_depart_publicite_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_depart_publicite_date ON public.depart_publicite USING btree (date_diffusion);


--
-- Name: idx_depart_publicite_depart; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_depart_publicite_depart ON public.depart_publicite USING btree (depart_id);


--
-- Name: idx_depart_publicite_publicite; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_depart_publicite_publicite ON public.depart_publicite USING btree (publicite_id);


--
-- Name: idx_depart_publicite_societe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_depart_publicite_societe ON public.depart_publicite USING btree (publicite_id, date_diffusion);


--
-- Name: idx_publicite_dates; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_publicite_dates ON public.publicite USING btree (date_debut_validite, date_fin_validite) WHERE (actif = true);


--
-- Name: idx_publicite_societe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_publicite_societe ON public.publicite USING btree (societe_publicitaire_id);


--
-- Name: idx_reservation_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservation_date ON public.reservation USING btree (date_creation);


--
-- Name: idx_tarif_coop_trajet; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tarif_coop_trajet ON public.tarif USING btree (cooperative_id, trajet_id);


--
-- Name: idx_tarif_publicite_actif; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tarif_publicite_actif ON public.tarif_publicite USING btree (date_debut, date_fin) WHERE (actif = true);


--
-- Name: idx_trajet_escale_trajet; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trajet_escale_trajet ON public.trajet_escale USING btree (trajet_id);


--
-- Name: chauffeur_vehicule trg_chauffeur_vehicule_max2_actifs; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_chauffeur_vehicule_max2_actifs BEFORE INSERT OR UPDATE ON public.chauffeur_vehicule FOR EACH ROW EXECUTE FUNCTION public.fn_chauffeur_vehicule_max2_actifs();


--
-- Name: chauffeur_vehicule trg_chauffeur_vehicule_principal_unique; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_chauffeur_vehicule_principal_unique BEFORE INSERT OR UPDATE ON public.chauffeur_vehicule FOR EACH ROW EXECUTE FUNCTION public.fn_chauffeur_vehicule_principal_unique();


--
-- Name: billet fk_billet_reservation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billet
    ADD CONSTRAINT fk_billet_reservation FOREIGN KEY (reservation_id) REFERENCES public.reservation(id) ON DELETE CASCADE;


--
-- Name: billet fk_billet_statut; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billet
    ADD CONSTRAINT fk_billet_statut FOREIGN KEY (ref_billet_statut_id) REFERENCES public.ref_billet_statut(id);


--
-- Name: chauffeur_vehicule fk_chauffeur_vehicule_chauffeur; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chauffeur_vehicule
    ADD CONSTRAINT fk_chauffeur_vehicule_chauffeur FOREIGN KEY (chauffeur_id) REFERENCES public.chauffeur(id) ON DELETE CASCADE;


--
-- Name: chauffeur_vehicule fk_chauffeur_vehicule_role; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chauffeur_vehicule
    ADD CONSTRAINT fk_chauffeur_vehicule_role FOREIGN KEY (ref_chauffeur_vehicule_role_id) REFERENCES public.ref_chauffeur_vehicule_role(id);


--
-- Name: chauffeur_vehicule fk_chauffeur_vehicule_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chauffeur_vehicule
    ADD CONSTRAINT fk_chauffeur_vehicule_vehicule FOREIGN KEY (vehicule_id) REFERENCES public.vehicule(id) ON DELETE CASCADE;


--
-- Name: cooperative_trajet fk_coop_trajet_coop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative_trajet
    ADD CONSTRAINT fk_coop_trajet_coop FOREIGN KEY (cooperative_id) REFERENCES public.cooperative(id) ON DELETE CASCADE;


--
-- Name: cooperative_trajet fk_coop_trajet_trajet; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative_trajet
    ADD CONSTRAINT fk_coop_trajet_trajet FOREIGN KEY (trajet_id) REFERENCES public.trajet(id) ON DELETE CASCADE;


--
-- Name: cooperative_vehicule fk_coop_vehicule_coop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative_vehicule
    ADD CONSTRAINT fk_coop_vehicule_coop FOREIGN KEY (cooperative_id) REFERENCES public.cooperative(id) ON DELETE CASCADE;


--
-- Name: cooperative_vehicule fk_coop_vehicule_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cooperative_vehicule
    ADD CONSTRAINT fk_coop_vehicule_vehicule FOREIGN KEY (vehicule_id) REFERENCES public.vehicule(id) ON DELETE CASCADE;


--
-- Name: depart fk_depart_coop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT fk_depart_coop FOREIGN KEY (cooperative_id) REFERENCES public.cooperative(id) ON DELETE CASCADE;


--
-- Name: depart fk_depart_lieu_arrivee; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT fk_depart_lieu_arrivee FOREIGN KEY (lieu_arrivee_id) REFERENCES public.lieu(id);


--
-- Name: depart fk_depart_lieu_depart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT fk_depart_lieu_depart FOREIGN KEY (lieu_depart_id) REFERENCES public.lieu(id);


--
-- Name: depart_publicite fk_depart_pub_depart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_publicite
    ADD CONSTRAINT fk_depart_pub_depart FOREIGN KEY (depart_id) REFERENCES public.depart(id) ON DELETE CASCADE;


--
-- Name: depart_publicite fk_depart_pub_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_publicite
    ADD CONSTRAINT fk_depart_pub_devise FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: depart_publicite fk_depart_pub_publicite; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_publicite
    ADD CONSTRAINT fk_depart_pub_publicite FOREIGN KEY (publicite_id) REFERENCES public.publicite(id) ON DELETE CASCADE;


--
-- Name: depart_publicite fk_depart_pub_tarif; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_publicite
    ADD CONSTRAINT fk_depart_pub_tarif FOREIGN KEY (tarif_publicite_id) REFERENCES public.tarif_publicite(id);


--
-- Name: depart_tarif_remise fk_depart_remise_categorie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_remise
    ADD CONSTRAINT fk_depart_remise_categorie FOREIGN KEY (ref_siege_categorie_id) REFERENCES public.ref_siege_categorie(id);


--
-- Name: depart_tarif_remise fk_depart_remise_depart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_remise
    ADD CONSTRAINT fk_depart_remise_depart FOREIGN KEY (depart_id) REFERENCES public.depart(id) ON DELETE CASCADE;


--
-- Name: depart_tarif_remise fk_depart_remise_passager; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_remise
    ADD CONSTRAINT fk_depart_remise_passager FOREIGN KEY (ref_passager_categorie_id) REFERENCES public.ref_passager_categorie(id);


--
-- Name: depart fk_depart_statut; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT fk_depart_statut FOREIGN KEY (ref_depart_statut_id) REFERENCES public.ref_depart_statut(id);


--
-- Name: depart_tarif_siege fk_depart_tarif_categorie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_siege
    ADD CONSTRAINT fk_depart_tarif_categorie FOREIGN KEY (ref_siege_categorie_id) REFERENCES public.ref_siege_categorie(id);


--
-- Name: depart_tarif_siege fk_depart_tarif_depart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_siege
    ADD CONSTRAINT fk_depart_tarif_depart FOREIGN KEY (depart_id) REFERENCES public.depart(id) ON DELETE CASCADE;


--
-- Name: depart_tarif_siege fk_depart_tarif_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart_tarif_siege
    ADD CONSTRAINT fk_depart_tarif_devise FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: depart fk_depart_trajet; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT fk_depart_trajet FOREIGN KEY (trajet_id) REFERENCES public.trajet(id) ON DELETE CASCADE;


--
-- Name: depart fk_depart_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depart
    ADD CONSTRAINT fk_depart_vehicule FOREIGN KEY (vehicule_id) REFERENCES public.vehicule(id) ON DELETE CASCADE;


--
-- Name: depense_vehicule fk_depense_cooperative; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depense_vehicule
    ADD CONSTRAINT fk_depense_cooperative FOREIGN KEY (cooperative_id) REFERENCES public.cooperative(id) ON DELETE CASCADE;


--
-- Name: depense_vehicule fk_depense_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depense_vehicule
    ADD CONSTRAINT fk_depense_devise FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: depense_vehicule fk_depense_type; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depense_vehicule
    ADD CONSTRAINT fk_depense_type FOREIGN KEY (ref_type_depense_id) REFERENCES public.ref_type_depense(id);


--
-- Name: depense_vehicule fk_depense_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depense_vehicule
    ADD CONSTRAINT fk_depense_vehicule FOREIGN KEY (vehicule_id) REFERENCES public.vehicule(id) ON DELETE CASCADE;


--
-- Name: lieu fk_lieu_type; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lieu
    ADD CONSTRAINT fk_lieu_type FOREIGN KEY (ref_lieu_type_id) REFERENCES public.ref_lieu_type(id);


--
-- Name: paiement fk_paiement_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT fk_paiement_devise FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: paiement fk_paiement_methode; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT fk_paiement_methode FOREIGN KEY (ref_paiement_methode_id) REFERENCES public.ref_paiement_methode(id);


--
-- Name: paiement_reservation fk_paiement_res_paiement; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement_reservation
    ADD CONSTRAINT fk_paiement_res_paiement FOREIGN KEY (paiement_id) REFERENCES public.paiement(id) ON DELETE CASCADE;


--
-- Name: paiement_reservation fk_paiement_res_reservation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement_reservation
    ADD CONSTRAINT fk_paiement_res_reservation FOREIGN KEY (reservation_id) REFERENCES public.reservation(id) ON DELETE CASCADE;


--
-- Name: paiement fk_paiement_statut; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT fk_paiement_statut FOREIGN KEY (ref_paiement_statut_id) REFERENCES public.ref_paiement_statut(id);


--
-- Name: publicite fk_publicite_societe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publicite
    ADD CONSTRAINT fk_publicite_societe FOREIGN KEY (societe_publicitaire_id) REFERENCES public.societe_publicitaire(id) ON DELETE CASCADE;


--
-- Name: reservation_passager fk_res_pass_categorie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT fk_res_pass_categorie FOREIGN KEY (ref_siege_categorie_id) REFERENCES public.ref_siege_categorie(id);


--
-- Name: reservation_passager fk_res_pass_depart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT fk_res_pass_depart FOREIGN KEY (depart_id) REFERENCES public.depart(id) ON DELETE CASCADE;


--
-- Name: reservation_passager fk_res_pass_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT fk_res_pass_devise FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: reservation_passager fk_res_pass_passager; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT fk_res_pass_passager FOREIGN KEY (ref_passager_categorie_id) REFERENCES public.ref_passager_categorie(id);


--
-- Name: reservation_passager fk_res_pass_reservation; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation_passager
    ADD CONSTRAINT fk_res_pass_reservation FOREIGN KEY (reservation_id) REFERENCES public.reservation(id) ON DELETE CASCADE;


--
-- Name: reservation fk_reservation_client; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk_reservation_client FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: reservation fk_reservation_depart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk_reservation_depart FOREIGN KEY (depart_id) REFERENCES public.depart(id) ON DELETE CASCADE;


--
-- Name: reservation fk_reservation_statut; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk_reservation_statut FOREIGN KEY (ref_reservation_statut_id) REFERENCES public.ref_reservation_statut(id);


--
-- Name: tarif fk_tarif_coop; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif
    ADD CONSTRAINT fk_tarif_coop FOREIGN KEY (cooperative_id) REFERENCES public.cooperative(id) ON DELETE CASCADE;


--
-- Name: tarif fk_tarif_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif
    ADD CONSTRAINT fk_tarif_devise FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: tarif_publicite fk_tarif_pub_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif_publicite
    ADD CONSTRAINT fk_tarif_pub_devise FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: tarif fk_tarif_trajet; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif
    ADD CONSTRAINT fk_tarif_trajet FOREIGN KEY (trajet_id) REFERENCES public.trajet(id) ON DELETE CASCADE;


--
-- Name: tarif fk_tarif_veh_type; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarif
    ADD CONSTRAINT fk_tarif_veh_type FOREIGN KEY (ref_vehicule_type_id) REFERENCES public.ref_vehicule_type(id);


--
-- Name: trajet fk_trajet_arrivee; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet
    ADD CONSTRAINT fk_trajet_arrivee FOREIGN KEY (lieu_arrivee_id) REFERENCES public.lieu(id);


--
-- Name: trajet fk_trajet_depart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet
    ADD CONSTRAINT fk_trajet_depart FOREIGN KEY (lieu_depart_id) REFERENCES public.lieu(id);


--
-- Name: trajet_escale fk_trajet_escale_lieu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet_escale
    ADD CONSTRAINT fk_trajet_escale_lieu FOREIGN KEY (lieu_id) REFERENCES public.lieu(id);


--
-- Name: trajet_escale fk_trajet_escale_trajet; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trajet_escale
    ADD CONSTRAINT fk_trajet_escale_trajet FOREIGN KEY (trajet_id) REFERENCES public.trajet(id) ON DELETE CASCADE;


--
-- Name: vehicule fk_vehicule_etat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule
    ADD CONSTRAINT fk_vehicule_etat FOREIGN KEY (ref_vehicule_etat_id) REFERENCES public.ref_vehicule_etat(id);


--
-- Name: vehicule fk_vehicule_type; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule
    ADD CONSTRAINT fk_vehicule_type FOREIGN KEY (ref_vehicule_type_id) REFERENCES public.ref_vehicule_type(id);


--
-- Name: vehicule_siege_config fk_vsc_categorie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule_siege_config
    ADD CONSTRAINT fk_vsc_categorie FOREIGN KEY (ref_siege_categorie_id) REFERENCES public.ref_siege_categorie(id);


--
-- Name: vehicule_siege_config fk_vsc_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicule_siege_config
    ADD CONSTRAINT fk_vsc_vehicule FOREIGN KEY (vehicule_id) REFERENCES public.vehicule(id) ON DELETE CASCADE;


--
-- Name: paiement_publicite fkkvi90710lsnkfw7w9m3kyxpgm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement_publicite
    ADD CONSTRAINT fkkvi90710lsnkfw7w9m3kyxpgm FOREIGN KEY (societe_publicitaire_id) REFERENCES public.societe_publicitaire(id);


--
-- Name: paiement_publicite fkl2m0etkjm2h7rhl7w0nd68e52; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement_publicite
    ADD CONSTRAINT fkl2m0etkjm2h7rhl7w0nd68e52 FOREIGN KEY (ref_devise_id) REFERENCES public.ref_devise(id);


--
-- Name: paiement paiement_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT paiement_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.reservation(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ML5Kh2PIDPxUSYJaaTBNgAV9YQdP6ooMTqh1utTb0FTVaDRhAxHC4ksnt6gcdq7

