<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="img/logo/logo.png" rel="icon">
  <title>Taxi Brousse - Coopératives</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
          <img src="/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">Taxi Brousse</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">Gestion</div>
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGestion" aria-expanded="true">
          <i class="fas fa-fw fa-car"></i>
          <span>Transport</span>
        </a>
        <div id="collapseGestion" class="collapse show" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion Transport</h6>
            <a class="collapse-item active" href="/cooperatives">Coopératives</a>
            <a class="collapse-item" href="/vehicules">Véhicules</a>
            <a class="collapse-item" href="/chauffeurs">Chauffeurs</a>
            <a class="collapse-item" href="/trajets">Trajets</a>
            <a class="collapse-item" href="/lieux">Lieux</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReservation">
          <i class="fas fa-fw fa-ticket-alt"></i>
          <span>Réservations</span>
        </a>
        <div id="collapseReservation" class="collapse" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Réservations</h6>
            <a class="collapse-item" href="/clients">Clients</a>
            <a class="collapse-item" href="/reservations">Réservations</a>
            <a class="collapse-item" href="/reservations-critere">Réservations avec critere</a>
            <a class="collapse-item" href="/departs">Départs</a>
            <a class="collapse-item" href="/billets">Billets</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2"></i>Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Coopératives</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Coopératives</li>
            </ol>
          </div>

          <div class="row">
            <div class="col-lg-12 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                  <h6 class="m-0 font-weight-bold text-primary">Liste des Coopératives 
                    <span class="badge badge-info ml-2" th:text="${#lists.size(cooperatives)}">0</span>
                  </h6>
                  <button class="btn btn-primary btn-sm" onclick="openModal()">
                    <i class="fas fa-plus"></i> Nouvelle Coopérative
                  </button>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="coop : ${cooperatives}">
                        <td th:text="${coop.id}">1</td>
                        <td th:text="${coop.code}">COOP001</td>
                        <td><strong th:text="${coop.nom}">Coopérative</strong></td>
                        <td th:text="${coop.telephone}">+261 34 00 000 00</td>
                        <td th:text="${coop.email}">email@coop.mg</td>
                        <td th:text="${coop.adresse}">Adresse</td>
                        <td class="text-nowrap">
                          <a href="#" class="btn btn-sm btn-info" th:attr="data-id=${coop.id}" onclick="viewItem(event, this.getAttribute('data-id'))">
                            <i class="fas fa-eye"></i>
                          </a>
                          <a href="#" class="btn btn-sm btn-warning" th:attr="data-id=${coop.id}" onclick="editItem(event, this.getAttribute('data-id'))">
                            <i class="fas fa-edit"></i>
                          </a>
                          <a href="#" class="btn btn-sm btn-danger" th:attr="data-id=${coop.id}" onclick="confirmDelete(event, this.getAttribute('data-id'))">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                      <tr th:if="${#lists.isEmpty(cooperatives)}">
                        <td colspan="7" class="text-center text-muted">Aucune coopérative enregistrée</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Création/Modification -->
          <div class="modal fade" id="itemModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalTitle">Nouvelle Coopérative</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form id="itemForm">
                    <input type="hidden" id="itemId">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="nom">Nom *</label>
                        <input type="text" class="form-control" id="nom" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="telephone">Téléphone *</label>
                        <input type="tel" class="form-control" id="telephone" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="adresse">Adresse *</label>
                        <input type="text" class="form-control" id="adresse" required>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="button" class="btn btn-primary" onclick="saveItem()">
                    <i class="fas fa-save"></i> Enregistrer
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Visualisation -->
          <div class="modal fade" id="viewModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Détails de la Coopérative</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <strong>Code:</strong><br><span id="viewCode">-</span>
                    </div>
                    <div class="col-md-6 mb-3">
                      <strong>Nom:</strong><br><span id="viewNom">-</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <strong>Téléphone:</strong><br><span id="viewTelephone">-</span>
                    </div>
                    <div class="col-md-6 mb-3">
                      <strong>Email:</strong><br><span id="viewEmail">-</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <strong>Adresse:</strong><br><span id="viewAdresse">-</span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Suppression -->
          <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                  <h5 class="modal-title">Confirmer la Suppression</h5>
                  <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p><i class="fas fa-exclamation-triangle text-warning fa-2x mb-3"></i></p>
                  <p>Êtes-vous sûr de vouloir supprimer cette coopérative?</p>
                  <p class="text-muted">Code: <strong id="deleteCode"></strong></p>
                  <input type="hidden" id="deleteId">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="button" class="btn btn-danger" onclick="deleteItem()">
                    <i class="fas fa-trash"></i> Supprimer
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Voulez-vous vraiment vous déconnecter?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Annuler</button>
                  <a href="/" class="btn btn-primary">Se déconnecter</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - Gestion Taxi Brousse</span>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.min.js"></script>

  <script>
    function openModal() {
      $('#modalTitle').text('Nouvelle Coopérative');
      $('#itemId').val('');
      $('#itemForm')[0].reset();
      $('#itemForm').removeClass('was-validated');
      $('#itemModal').modal('show');
    }

    function viewItem(event, id) {
      event.preventDefault();
      $.get('/api/cooperatives/' + id, function(data) {
        $('#viewCode').text(data.code || '-');
        $('#viewNom').text(data.nom || '-');
        $('#viewTelephone').text(data.telephone || '-');
        $('#viewEmail').text(data.email || '-');
        $('#viewAdresse').text(data.adresse || '-');
        $('#viewModal').modal('show');
      }).fail(function(xhr) {
        alert('Erreur: ' + (xhr.responseJSON?.message || 'Erreur inconnue'));
      });
    }

    function editItem(event, id) {
      event.preventDefault();
      $.get('/api/cooperatives/' + id, function(data) {
        $('#modalTitle').text('Modifier la Coopérative');
        $('#itemId').val(data.id);
        $('#nom').val(data.nom);
        $('#telephone').val(data.telephone);
        $('#email').val(data.email || '');
        $('#adresse').val(data.adresse);
        $('#itemModal').modal('show');
      }).fail(function(xhr) {
        alert('Erreur: ' + (xhr.responseJSON?.message || 'Erreur inconnue'));
      });
    }

    function saveItem() {
      const form = $('#itemForm')[0];
      if (!form.checkValidity()) {
        form.classList.add('was-validated');
        return;
      }
      
      const id = $('#itemId').val();
      const data = {
        nom: $('#nom').val(),
        telephone: $('#telephone').val(),
        email: $('#email').val() || null,
        adresse: $('#adresse').val()
      };
      
      const method = id ? 'PUT' : 'POST';
      const url = id ? '/api/cooperatives/' + id : '/api/cooperatives';
      
      $.ajax({
        url: url,
        type: method,
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function() {
          $('#itemModal').modal('hide');
          alert('Coopérative ' + (id ? 'modifiée' : 'créée') + ' avec succès!');
          location.reload();
        },
        error: function(xhr) {
          alert('Erreur: ' + (xhr.responseJSON?.message || 'Erreur inconnue'));
        }
      });
    }

    function confirmDelete(event, id) {
      event.preventDefault();
      $.get('/api/cooperatives/' + id, function(data) {
        $('#deleteId').val(id);
        $('#deleteCode').text(data.code);
        $('#deleteModal').modal('show');
      }).fail(function(xhr) {
        alert('Erreur: ' + (xhr.responseJSON?.message || 'Erreur inconnue'));
      });
    }

    function deleteItem() {
      const id = $('#deleteId').val();
      $.ajax({
        url: '/api/cooperatives/' + id,
        type: 'DELETE',
        success: function() {
          $('#deleteModal').modal('hide');
          alert('Coopérative supprimée avec succès!');
          location.reload();
        },
        error: function(xhr) {
          alert('Erreur: ' + (xhr.responseJSON?.message || 'Erreur inconnue'));
          $('#deleteModal').modal('hide');
        }
      });
    }
  </script>

</body>
</html>
