<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Sidebar Fragment -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" th:fragment="sidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                <img src="img/logo/logo2.png">
            </div>
            <div class="sidebar-brand-text mx-3">Taxi Brousse</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/billets">
                <i class="fas fa-fw fa-ticket-alt"></i>
                <span>Billets</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">Gestion</div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGestion"
                aria-expanded="true" aria-controls="collapseGestion">
                <i class="fas fa-fw fa-car"></i>
                <span>Transport</span>
            </a>
            <div id="collapseGestion" class="collapse" aria-labelledby="headingGestion" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion Transport</h6>
                    <a class="collapse-item" href="/cooperatives">Coopératives</a>
                    <a class="collapse-item" href="/vehicules">Véhicules</a>
                    <a class="collapse-item" href="/chauffeurs">Chauffeurs</a>
                    <a class="collapse-item" href="/trajets">Trajets</a>
                    <a class="collapse-item" href="/lieux">Lieux</a>
                    <a class="collapse-item" href="/siege-categories">Catégories sièges</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tarifs-sieges">
                <i class="fas fa-fw fa-ticket-alt"></i>
                <span>Tarifs sièges</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tarifs-remises">
                <i class="fas fa-fw fa-percent"></i>
                <span>Remises sièges</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReservation"
                aria-expanded="true" aria-controls="collapseReservation">
                <i class="fas fa-fw fa-ticket-alt"></i>
                <span>Réservations</span>
            </a>
            <div id="collapseReservation" class="collapse" aria-labelledby="headingReservation" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Réservations</h6>
                    <a class="collapse-item" href="/clients">Clients</a>
                    <a class="collapse-item" href="/reservations">Départs & Réservations</a>
                    <a class="collapse-item" href="/reservations-liste">Liste Réservations</a>
                    <a class="collapse-item" href="/departs">Départs</a>
                    <a class="collapse-item" href="/paiements">Paiements</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePublicite"
                aria-expanded="true" aria-controls="collapsePublicite">
                <i class="fas fa-fw fa-bullhorn"></i>
                <span>Publicité</span>
            </a>
            <div id="collapsePublicite" class="collapse" aria-labelledby="headingPublicite" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestion Publicité</h6>
                    <a class="collapse-item" href="/societes-publicitaires">Sociétés</a>
                    <a class="collapse-item" href="/publicites">Publicités</a>
                    <a class="collapse-item" href="/tarifs-publicite">Tarifs Publicité</a>
                    <a class="collapse-item" href="/diffusions-publicite">Diffusions</a>
                    <a class="collapse-item" href="/paiements-publicite">Paiements</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    </ul>
    
    <!-- TopBar Fragment -->
    <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top" th:fragment="topbar">
        <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 60px">
                    <span class="ml-2 d-none d-lg-inline text-white small">Administrateur</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    
    <!-- Footer Fragment -->
    <footer class="sticky-footer bg-white" th:fragment="footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>copyright &copy; <script>document.write(new Date().getFullYear());</script> - Gestion Taxi Brousse</span>
            </div>
        </div>
    </footer>
    
    <!-- Logout Modal Fragment -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
        aria-hidden="true" th:fragment="logoutModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment vous déconnecter?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Annuler</button>
                    <a href="/" class="btn btn-primary">Se déconnecter</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
